.category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
    margin: 0 30px 15px;
}

.title {
    font-size: 38px;
    margin: 0 30px 15px;
}
